*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans',sans-serif;
}

body{

  background: #ccc;
}

#page{
  width: 80%;
  margin: 0 auto;
  background-image: url(../img/background-pagina.png);
}
.banner{
  position: relative;
  background-image: url(../img/banner.jpeg);
  background-size: cover;
}

.main-header{
  margin-bottom: 10px;
  text-align: center;
}

.headrer-navbar{
  text-align: center;
  margin:0;
  padding:0;
  height: 50px;
  background: #333;
}

.headrer-navbar-item{
  display: inline-block;

}

.headrer-navbar-item a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 16px;
}

.headrer-navbar-item a:hover{
  background: #000;
  border-radius: 5px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.col{
  float: left;
}

.col-1 {
  width: 25%;
  padding: 0 16px;
}

.col-2{
  width: 50%;
  padding: 0 16px;
}

.col-3{
  width: 25%;
  padding: 0 16px;
}

.box-info{
  background: white;
  border-radius: 5px;
}

.list_box{
  padding: 20px;
}

.list_box-item{
  margin: 10px;
  list-style: none;
}

.list_box-item a {
  text-decoration: none;
  color: black;
}

.list_box-item a:hover{
  font-size: 20px;
}

.box-text{
  font-size: 20px;
  border-radius: 5px;
  background: white;
  margin-bottom: 30px;
  padding:5px 20px;
}

.box-text h2{
  text-align: center;
  padding: 20px;
}

.box-img{
  border-radius: 5px;
  background: white;
  margin-bottom: 10px;
}

.box-img:hover{

}

.card__image{
  width:100%;
  height: auto;
}

.card-text{
  padding:5px 20px;
  text-align: center;
}

.main-footer{
  text-align: center;
  width: 100%;
}

.text-footer{
  background: white;
}

.footer-list{
  padding: 0;

}

.footer-list-item{
  padding: 20px;
  list-style: none;
  float: left;
  width: calc(100% / 3);
  background: white;
  height: 80px;
}

.footer-list-item a{
  text-decoration: none;
  color: black;
  font-size: 35px;
}

.footer-list-item a:hover{
  font-size: 45px;
}
