*{
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 70%;
  margin: 0 auto;
}

.header{
  height: 100px;
  background: #90EE90;
  margin-bottom: 10px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.navbar{
  height: 50px;
  width: 100%;
  background: #008B8B;
}

.colonna-sx{
  float: left;
  width: 30%;
  background: #DC143C;
  height: 250px;
  margin: 10px;
}

.colonna-cent{
  float: left;
  width: 45%;
  height: 600px;
  background: #F0E68C;
  margin: 10px;
}

.colonna-dx{
  float: left;
  width: 20%;
  height: 150px;
  background: #F08080;
  margin: 10px;
}

.colonna-two-dx{
  float: left;
  width: 20%;
  height: 150px;
  background: #F08080;
  margin: 10px;
}

.colonna-three-dx{
  float: left;
  width: 20%;
  height:150px;
  background: #F08080;
  margin: 10px;
}

.footer{
  background: yellow;
  padding: 10px
}
