*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #ccc;
}

#page{
  width: 70%;
  margin: 0 auto;
  background: #ccc;
}

.main-header{
  height: 100px;
  margin-bottom: 10px;
  background: white;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.navbar{
  height: 50px;
  width: 100%;
  background: white;
}

.colonna-sx{
  float: left;
  width: 30%;
  height: 250px;
  margin: 10px;
  background: white;
}

.colonna-cent{
  float: left;
  width: 45%;
  height: 600px;
  margin: 10px;
  background: white;
}

.colonna-dx{
  float: left;
  width: 20%;
  height: 150px;
  margin: 10px;
  background: white;
}

.colonna-two-dx{
  float: left;
  width: 20%;
  height: 150px;
  margin: 10px;
  background: white;
}

.colonna-three-dx{
  float: left;
  width: 20%;
  height:150px;
  margin: 10px;
  background: white;
}

.footer{
  padding: 20px;
  background: white;
}
